# Maven build files
**/bin/**/*
**/dependency-reduced-pom.xml
**/target/**/*

# IntelliJ files
**/.idea/**/*
**/*.iml
**/*.ipr
**/*.iws
**/out/**/*

# MacOSX Files
**/.DS_Store/**/*
**/.DS_Store
.project
.settings/org.eclipse.m2e.core.prefs
.settings/org.eclipse.jdt.apt.core.prefs
.settings/org.eclipse.core.resources.prefs
.settings/org.eclipse.jdt.core.prefs
.factorypath
.classpath
.gitignore
